<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Products List</title>
    <style>
        img{
            width:200px;
            height:100px;
        }
        .product-item{
            border:1px solid black;
            padding:10px;
            border-radius: 5px;
            box-shadow: 10px 10px #ccc;
        }
        .category{
            width:100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            column-gap: 30px;
        }
        .category-name{
            margin-top: 30px;
        }
    </style>
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    {{> nav}}
    <h1>Welcome to the Admin Products List</h1>

    {{> category_list prod=prod}}
</body>
</html>